html {
    background-image: url("Images/background.png");
    background-size: cover;
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Logo Styling */
.logo {
    display: block;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 72px;
}
.logo h2 {
    margin-top: -100px;
    font-size: 56px;
    color: #E3F5FF;
}
#main-logo {
    text-align: center;
    margin: auto;
}
#small-logo {
    margin: -75px 25px;
    font-size: 56px;
}

a {
    text-decoration: none;
}

.escape {
    display: block;
    font-size: 20px;
    padding: 2%;
    color: grey;
}

/* Grid-based purchase page styling */
.products {
    border: 2px white solid;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 800px;
}
.purchase-options {
    border: 2px white solid;
    width: 95%;
    float: left;
    display: grid;
    grid-template-columns: 50% 15% 15% 425px;
    grid-template-rows: 800px;
}
.column {
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    border: 2px white solid;
}
.product-box {
    height: 46%;
    background-color: white;
    margin: 2%;
    text-align:center;
    font-size: 20px;
}
.box {
    height: 24%;
    background-color: grey;
    margin: 2%;
    text-align:center;
    font-size: 25px;
    color: white;
}
.product-image {
    height: 75%;
}
.pricing {
    text-align: right;
    margin: 2%;
    color: white;
}
.product-view {
    background-color: white;
    text-align: center;
}

.product-view .product-image {
    height: 90%;
}

.box.selected-color {
    font-size: 35px;
    border: 5px solid black;
}

.box.selected-size {
    background-color: #333;
    font-size: 35px;
    border: 5px solid black;
}

/* Buttons include 'shop now', 'add to cart' and 'view cart'*/
.button {
    display: block;
    width: 400px;
    height: 75px;
    margin-top: 2%;
    padding: 1%;
    margin: auto;

    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 35px;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px #888888;

    border: 2px white solid;
    display: grid;
}
button:hover {
    box-shadow: 0px 10px #888888;
}

/* Color classes */
.green {
    background-color: yellowgreen;
}
.orange {
    background-color: orange;
}
.grey {
    background-color: gray;
}

.right {
    float: right;
}

/* Checkout page styles */
.cart-item {
    background-color: grey;
    margin: 1%;
    padding: 1%;
    font-size: 50px;
    color: white;
}
.item-price {
    text-align: right;
    font-size: 30px;
    padding: 1%;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.remove {
    float: right;
    background-color: red;
    color: white;
}
  

